@use '@/theme/mixins' as *;

@layer components {
  .text {
    font-family: var(--font-sans);
    margin: 0;

    // Variants
    &[data-variant='body'] {
      font-size: var(--font-size-base);
      line-height: var(--line-height-normal);
      font-weight: var(--font-weight-normal);
      letter-spacing: var(--letter-spacing-normal);
    }

    &[data-variant='label'] {
      font-size: var(--font-size-sm);
      line-height: var(--line-height-normal);
      font-weight: var(--font-weight-medium);
      letter-spacing: var(--letter-spacing-wide);
    }

    &[data-variant='heading'] {
      font-size: var(--font-size-2xl);
      line-height: var(--line-height-tight);
      font-weight: var(--font-weight-semibold);
      letter-spacing: var(--letter-spacing-tight);
    }

    &[data-variant='caption'] {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-normal);
      font-weight: var(--font-weight-normal);
      letter-spacing: var(--letter-spacing-normal);
    }

    &[data-variant='code'] {
      font-size: var(--font-size-sm);
      line-height: var(--line-height-normal);
      font-family: var(--font-mono);
      font-weight: var(--font-weight-normal);
      letter-spacing: var(--letter-spacing-normal);
    }

    // Weight
    &[data-weight='normal'] {
      font-weight: var(--font-weight-normal);
    }

    &[data-weight='medium'] {
      font-weight: var(--font-weight-medium);
    }

    &[data-weight='semibold'] {
      font-weight: var(--font-weight-semibold);
    }

    &[data-weight='bold'] {
      font-weight: var(--font-weight-bold);
    }

    // Colors
    &[data-color='default'] {
      color: var(--color-fg);
    }

    &[data-color='muted'] {
      color: var(--color-fg-muted);
    }

    &[data-color='subtle'] {
      color: var(--color-fg-subtle);
    }

    &[data-color='primary'] {
      color: var(--color-primary);
    }

    &[data-color='danger'] {
      color: var(--color-danger);
    }

    &[data-color='success'] {
      color: var(--color-success);
    }

    &[data-color='warning'] {
      color: var(--color-warning);
    }

    // Align
    &[data-align='start'] {
      text-align: start;
    }

    &[data-align='center'] {
      text-align: center;
    }

    &[data-align='end'] {
      text-align: end;
    }

    &[data-align='justify'] {
      text-align: justify;
    }

    // Wrap
    &[data-wrap='wrap'] {
      text-wrap: wrap;
    }

    &[data-wrap='nowrap'] {
      text-wrap: nowrap;
    }

    &[data-wrap='balance'] {
      text-wrap: balance;
    }

    &[data-wrap='pretty'] {
      text-wrap: pretty;
    }

    // Other
    &[data-truncate='true'] {
      @include truncate;
    }
  }
}
